body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  margin-bottom: 10px;
}

#cityInput {
  padding: 8px;
  font-size: 16px;
}

#getWeatherBtn {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#weatherData {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-widget {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-widget p {
  margin: 8px 0;
}

.weather-widget h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.weather-widget img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
